@media (min-width: 320px) and (max-width: 576px) {
  .control-container {
    align-self: center !important;
  }

  .control-dots {
    width: 0.5rem !important;
    height: 0.5rem !important;
    padding: 0.25rem !important;
    display: block;
    border: 0.15rem solid #71abff !important;
  }

  .text-container {
    margin: 0 0 1rem;
    align-self: center;
    font-size: 1rem;
  }
}
