@media (min-width: 320px) and (max-width: 576px) {
  .header-title {
    font-size: 1.25rem;
  }

  .control-container {
    align-self: center !important;
  }

  .control-dots {
    width: 0.5rem !important;
    height: 0.5rem !important;
    padding: 0.25rem !important;
    display: block;
    border: 0.15rem solid #71abff !important;
  }

  .text-container {
    margin: 0 0 1rem;
    align-self: center;
    font-size: 1rem;
  }

  .rs-logo-icon {
    height: 1.25rem !important;
  }

  .footer__text {
    font-size: 0.75rem !important;
  }
}
