.footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rs-logo-icon {
  height: 1.75rem;
  box-shadow: none;
}

.footer__text {
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
}

.github-logo-icon {
  height: 1.75rem;
  box-shadow: none;
}
