.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.header-title {
  margin-top: 0.5rem;
  margin-right: 0.25rem;
  color: white;
  align-self: center;
}

.header-title span {
  text-decoration: underline;
}

.rainbow-logo-link {
  height: fit-content;
  box-shadow: none;
}

.rainbow-logo-icon {
  height: 2.75rem;
  box-shadow: none;
}
